body {
  background-color: #303030;
  text-align: center;
}

h1{
  font-family: Avenir;
  font-style: italic;
  font-size:52px;
  color: #00ffff;
}

h2{
  font-family: Avenir;
  font-style: medium;
  font-size: 22px;
  color: #ffffff;
}

p{
  font-family: Avenir;
  font-style: book;
  font-size: 17px;
  color: #ffffff;
  margin: 20px 300px;
  text-align: left;
  text-align: justify;
}

.start-quiz {
  border-radius: 22px;
  font-family: Avenir;
  font-style: book;
  color: #ffffff;
  font-size: 20px;
  background: #7f7fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.start-quiz:hover {
  background: #6161e1;
  text-decoration: none;
}

.answer1 {
  border-radius: 28px;
  font-family: Avenir;
  font-style: book;
  color: #ffffff;
  font-size: 22px;
  background: #007fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.answer1:hover {
  background: #0061e1;
  text-decoration: none;
}

.answer2 {
  border-radius: 22px;
  font-family: Avenir;
  font-style: book;
  color: #ffffff;
  font-size: 20px;
  background: #bf7fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.answer2:hover {
  background: #a161e1;
  text-decoration: none;
}

.home { border-radius: 28px;
  font-family: Avenir;
  font-style: book;
  color: #ffffff;
  font-size: 15px;
  background: #7f7fff;
  padding: 3.75px 12.5px 3.75px 12.5px;
  text-decoration: none;
}
.home:hover {
  background: #6161e1;
  text-decoration: none;
}